<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./test.css">
    <title>Document</title>
</head>
<body>
    <div class="stage">
        <div class="container">
            <div class="image box">
                <image id="logo" src="/src/resources/Logo.svg"></image>
            </div>
            <div class="load box">
                <div class="cir cir-1"></div>
                <div class="cir cir-2"></div>
                <div class="cir cir-3"></div>
            </div>
        </div>

    </div>
</body>
</html>