/* Hero.jsx */
#Main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  max-width: 95.5rem;
  border-radius: 1.25rem;
  margin-top: 2.38rem;
  background-color: #FFFFFF;
  outline: 2px solid blue;
}