
/* Hero.jsx */
#Main-container {
    outline: 2px solid red;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
  }

.central.column {
    outline: 2px solid black;
    max-width: 95.5rem;
    height: 100%;
}

.map-container {
    background-color: #FFFFFF;
    border-radius: 1.25rem;
    margin-top: 2.38rem;
    outline: 2px solid blue;
}

.info-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 22.875rem;
    padding-top: 3rem;
    margin-top: 1.11rem;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    color: #FFFFFF;
    background-color: #007D32;
}

/* Find Div's on LineInfo.jsx */

.left-container {
    grid-column: 1 / 5;
    padding-left: 1.25rem;
}

#line-name {
    font-size: 2.25rem;
    font-weight: 700;
}

#line-status {
    font-size: 3.0125rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

.middle-container {
    grid-column: 5 / 9;
}