.infoContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 95.5rem;
    height: 15rem;
    padding-top: 3rem;
    margin-top: 1.11rem;
    border: 2px solid #000000;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    color: #FFFFFF;
    outline: 1px solid ;
  }
  
  .good-service {
    background-color: #007D32;
  }
  
  .minor-delays, .standard-status {
    background-color: #FFD300;
    color: black;
  }
  
  .severe-delays {
    background-color: #E42313;
  }
  
  .leftContainer {
    grid-column: 1 / 5;
    padding-left: 1.25rem;
  }
  
  .title {
    font-size: 2.25rem;
    font-weight: 700;
  }
  
  #lineStatus {
    font-size: 3.0125rem;
    font-weight: 500;
    margin-top: 0.5rem;
  }
  

  .middleContainer {
    grid-column: 5 / 9;
  }

  #disruptionText {
      margin-top: 1rem;
      font-size: 1.5rem;
  }

  .left-container {
      grid-column: 1 / 5;
      padding-left: 1.25rem;
  }





