.infoContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 22.875rem;
    padding-top: 3rem;
    margin-top: 1.11rem;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    color: #FFFFFF;
    background-color: #007D32;
  }
  
  /* Find Div's on LineInfo.jsx */
  
  .leftContainer {
    grid-column: 1 / 5;
    padding-left: 1.25rem;
  }
  
  #name {
    font-size: 2.25rem;
    font-weight: 700;
  }
  
  #lineStatus {
    font-size: 3.0125rem;
    font-weight: 500;
    margin-top: 0.5rem;
  }
  
  .middleContainer {
    grid-column: 5 / 9;
  }

.left-container {
    grid-column: 1 / 5;
    padding-left: 1.25rem;
}





