#Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url(./resources/artur-tumasjan-KT_f7y6I2sI-unsplash.jpg);
    background-position: center;
  }

  #Main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#Main > * {
    position: relative;
    z-index: 2;
}


#map {
    max-width: 90%;
    border-radius: 1.25rem;
    margin-top: 9.5rem;
    background-color: #FFFFFF;
    transition: transform 0.3s ease-in-out;
      
}

#trainOuterContainer {
    display: flex;
    justify-content: center;
}

/* Phone */


@media (max-width: 430px) {
    #map {
        height: 50%;
    }
}